.body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;
  background-color: $white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;

  &--hidden {
    overflow: hidden;
  }

  &--overflow {
    margin-right: 17px;
  }
}
