.consultation {
  background-color: $blue;
  width: 490px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 3;

  &--show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
  }
}

.consultation__wrapper {
  width: 411px;
  margin: 0 39px;
}

.consultation__close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 14px;
  top: 13px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 1px;
    background-color: $white;
    left: 4px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.consultation h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: $white;
  margin: 29px 0 12px 0;
}

.consultation p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin: 0 0 32px 0;
  max-width: 382px;
}

.consultation__field {
  margin-bottom: 30px;
}

.consultation__field input,
.consultation__field textarea {
  background-color: $blue-input;
  border: none;
  padding: 13px 24px 17px 24px;
  width: 100%;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 0;

  &::placeholder {
    color: $white;
  }

  &:hover {
    opacity: 0.7;
  }
}

.consultation__field--tel input {
  background-color: $blue-input-tel;
}

.consultation__field textarea {
  resize: none;
  height: 104px;
  padding: 12px 25px 17px 25px;
}

.consultation__button {
  border: 1px solid $white;
  box-sizing: border-box;
  padding: 15px 30px 15px 27.5px;
  margin: -4px 0 33px 0;
  width: 100%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}


.consultation__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.consultation__container input {
  background-color: $blue;
  border: none;
}

input:checked + label::before {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

input:focus + label {
  outline: 1px auto $black;
}

.consultation__container label {
  position: relative;
  max-width: 338px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  padding-left: 49px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    left: 0;
    top: 1px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid $white;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-200%) translateX(-50%);
  }

  70% {
    transform: translateY(-45%) translateX(-50%);
  }

  to {
    transform: translateY(-50%) translateX(-50%);
  }
}
