$promo-background-dark-blue: #1b2d37;
$white: #ffffff;
$technologies-grey: #788891;
$blue: #00b2ff;
$blue-input:#26b8fa;
$blue-input-tel: #36bffa;
$black: #000000;
$black-50: rgba(0, 0, 0, 0.5);
$socials-svg-grey: #cdcdcd;
$black-service: #203c42;
$footer-title-black: #1b2d37;
$footer-border: #dcdddc;
$minus-plus-grey: #cdcdcd;
$advantages-grey: #666666;
$advantages-border-grey: #ebebeb;
$goods-item-background-grey: rgba(70, 70, 70, 0.2);

$mobile-width: 767px;
$tablet-width: 1023px;
